@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

.Apps {
  min-height: 100vh;
  text-align: center;

  background-image: url('../assets/fundoP.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 40px 20px;
}


.Apps h1{
  color: rgb(245, 245, 245);
  font-size: 50px;
  font-family: 'Press Start 2P', cursive;
  margin-bottom: 50px;
}

.Apps h3 {
  font-family: 'Press Start 2P', cursive;
}

.pokemon-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.pokemon-card {
  font-family: 'Press Start 2P', cursive;

  width: 270px;
  height: 355px;

  padding: 20px;

  border-radius: 40px;

  box-shadow: 0px 4px 30px black;

  transition: 0.2s;
}

.pokemon-card:hover {
  transform: translateY(-5px);
}

.water-card {
  background-color: #87CEFA;
  font-family: 'Press Start 2P', cursive;

  width: 270px;
  height: 355px;

  padding: 20px;

  border-radius: 40px;

  box-shadow: 0px 4px 30px black;

  transition: 0.2s;
}

.rock-card {
  background-color: rgb(124, 103, 7);
  font-family: 'Press Start 2P', cursive;

  width: 270px;
  height: 355px;

  padding: 20px;

  border-radius: 40px;

  box-shadow: 0px 4px 30px black;

  transition: 0.2s;
}

.pokemon {
  height: 120px;
}

.types {
  margin-top: 15px;
}

.type {
  padding: 8px 16px;
  border-radius: 20px;
  margin-top: 20px;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 14px;
}

.type.fire { background: #FF6B35; }
.type.water { background: #5195FE; }
.type.grass { background: #4CAF50; }
.type.electric { background: #FFCE4B; color: #333; }
.type.ice { background: #51C4E7; }
.type.fighting { background: #E18C74; }
.type.poison { background: #B567CE; }
.type.ground { background: #D6BC7E; }
.type.flying { background: #A891F6; }
.type.psychic { background: #F36651; }
.type.bug { background: #8CB32B; }
.type.rock { background: #b8a489; }
.type.ghost { background: #5F6DBC; }
.type.dragon { background: #6E5AD1; }
.type.dark { background: #5A5465; }
.type.steel { background: #5E7164; }
.type.fairy { background: #D685AD; }
.type.normal { background: #B5B9C4; }